{% extends "base.html" %}

{% block head %} 
  <title> Login </title> 
{% endblock %}

{% block title %}
  Login
{% endblock %}

{% block body %}
    <div class="logindiv">
      <div class="group">
        <input type="text" required>
        <span class="highlight"></span>
        <span class="bar"> </span>
        <label> Email </label>
      </div>
    
      <div class="group">
        <input type="text" required>
        <span class="highlight"></span>
        <span class="bar"> </span>
        <label> Password </label>
      </div>
    </div>

    

{% endblock %}
