{% extends base.html %}

{% block head %}
  <title> Register </title>
{% endblock %}

{% block content %}
  <center>
    <h2> Create a new account </h2>
    
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" id="user_group">
      <input class="mdl-textfield__input" type="text" id="user_field">
      <label class="mdl-textfield__label" for="user_field"> Email </label>
      <span class="mdl-textfield__error" id="user_field_error"></span>
    </div>
    <br>
    
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" id="password_group">
      <input class="mdl-textfield__input" type="password" id="password_field">
      <label class="mdl-textfield__label" for="password_field"> Password </label>
      <span class="mdl-textfield__error" id="password_field_error"></span>
    </div>

    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" id="name_group">
      <input class="mdl-textfield__input" type="text" id="name_field">
      <label class="mdl-textfield__label" for="name_field"> Name </label>
      <span class="mdl-textfield__error" id="name_field_error"></span>
    </div>


    <br>
    <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--colored" id="login_button"> Login </a>
